form {
  text-align: center;
}

.reset {
  font-size: 0.8em;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #2cbbb5;
  outline: none;
  z-index: 999;
}


.unique {
  // position: absolute;
  font-size: 0.8em;
  color:#a75555;
}
