form {
  text-align: center;
}

.reset {
  font-size: 0.8em;
  color: #2cbbb5;
  text-align: right;
}


.unique {
  // position: absolute;
  font-size: 0.8em;
  color:#a75555;
}

.align-right {
  text-align: right;
}
