form {
  text-align: center;
}

.reset {
  font-size: 0.8em;
  color: #ff6602;
  text-align: right;
}


.unique {
  // position: absolute;
  font-size: 0.8em;
  color:red;
  display: block;
}

.align-right {
  text-align: right;
}
